@brand-font: 'Open Sans', sans-serif;
@ani-speed: 0.2s;
@ani-easing: ease-out;
@primary: #0084BE;
@secondary: #fff;
@bg-color: #111111;
@bg-color-highlight: #1D2024;
@mobile: 800px;

@import "less/type";
@import "less/structure";
@import "less/header";
@import "less/hero";
@import "less/gallery";