body {
    font-family: @brand-font;
    background: @bg-color;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
}

.strip {
    width: 90vw;
    @media (min-width: @mobile) {
        width: 80vw;
    }
    max-width: 1100px;
    padding: 40px 9px;
    margin: auto;
    text-align: left;
}

.contact-details {
    @media (min-width: @mobile) {
        display: flex;
        justify-content: center;
        text-align: center;

        div {
            padding: 20px;
        }
    }


    .map {
        @media (min-width: @mobile) {
            width: 40vw;
            height: 400px;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.contact-list {
    text-align: left;
}

.logo-title {
    margin: auto;
}

.product {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    img {
        width: 100%;
        height: auto;
        @media (min-width: @mobile) {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .contents {
        padding: 0 20px;
        @media (min-width: @mobile) {
            padding: 20px;
        }

        p {
            position: relative;
            @media (min-width: @mobile) {
                top: 50%;
                transform: translateY(-50%);
            }
            margin: 0;
            padding: 0;
        }
    }
}